#logo {
    width: 150px;
    border-radius: 50%;
  }

  h1 {
    color: #1687a7;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em
    line-height 3em;
  }

  p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
    color: #2d7292;
  }

.list {
  color: #51c2d5;
  font-family: "Montserrat";
  font-size: 1em;
  display: inline-block;
  padding: 0px 20px;
  list-style: none
  }

.list:hover {
  color:#6930c3;
}

.description {
 color: #91091e;
 font-family: Montserrat;
 font-style: italic;
}

.container {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: rgb(255, 255, 255);
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.btn-blue {
  background-color: #0969aa;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.fa-github-square {
  font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}